@model ASP.Data.Entities.Category

<div class="col">
	<div class="card h-100" style="width: 18rem;">
		<a asp-action="Category" asp-route-id="@(Model.Slug)">
			<img src="~/img/content/@(Model.PhotoUrl ?? "no-image.jpg")" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">@Model.Name</h5>
				<p class="card-text">@Model.Description</p>
			</div>
		</a>
		@if ("Admin".Equals(ViewData["role"]))
		{
			<div class="cord-footer">
				<button class="btn btn-outline-danger"
						data-type="delete-category"
						data-category-id="@(Model.Id)"
				>Del</button>
				<button class="btn btn-outline-warning"
						data-type="edit-category"
						data-category-name="@(Model.Name)"
						data-category-description="@(Model.Description)"
						data-category-slug="@(Model.Slug)"
						data-category-id="@(Model.Id)"
				>Edit</button>
			</div>
		}
	</div>
</div>