@model ASP.Models.Home.Data.DataPageModel

@{
	ViewData["Title"] = @Model.TabHeader;
}
<div class="text-center">
	<h1 class="display-4">@Model.PageTitle</h1>
</div>
<h2>Пакети</h2>
<p>
	Використовуємо Entity Framework, відповідно маємо додати
	пакети NuGet
</p>
<ul>
	@foreach(var text in @Model.NuGetPackages)
	{
		<li>@text</li>
	}
</ul>
<h2>Структура</h2>
<ul>
	@foreach (var text in @Model.DataStruct)
	{
		<li>@text</li>
	}
</ul>
<h2>Перевірка</h2>
<p>
	Контекст реєструється у сервісах, відповідно може інжектуватись як й
	інші сервіси (див. HomeController)
	Звертаючись до сервісу вилучаємо дані і передаємо до представлення:
	Кількість зареєстрованих користувачів - <b>@ViewData["users-count"]</b>
</p>